.env
data/
Notes

# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# FAISS vector database
vector_store/

# Uploaded PDF data
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

.env